/* --------------------- CSS Reset -------------------- */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul,
dl {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


header, footer {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 25px;
}


body {
    font-size: larger;
    background-color: #EEEEEE;
}


main {
    padding: 25px;
}


.container {
    width: 70%;
    padding: 20px;
}


.hidden {
    display: none;
}


.custom-button {
    width: 40%;
    color: white;
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border: none;
    border-radius: 20px;
    height: 10%;
    margin-bottom: 10px;
    margin-top: 20px;
}


.month {
    background-color: white;
    width: 30%;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 70px;
}


.holiday {
    font-size: 18px;
    font-weight: bold;
    color: teal;
}


main {
    display: flex;
}


#display-all {
    width: 20%;
    height: 2%;
    margin-bottom: 50px;
    border: none;
    border-radius: 20px;
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

